body {

    margin: 100px;

    background-color: #5a5a5a;
    color: #fafafa;

}

#stoic-quote-reader {

    width: 80%;
    border: 3px solid #fafafa;
    margin: auto;

    background-color: #363636;

}

#stoic-quote-reader #quote, #stoic-quote-reader #quoted {
    font-family: serif;
    text-align: center;
}


#stoic-quote-reader #quote {

    padding-right: 80px;
    padding-left: 80px;

    font-size: 30px;

}

#stoic-quote-reader button {

    width: 100%;
    border: none;

    background-color: #fafafa;
    color: #363636;

    font-family: monospace;
    font-size: 30px;

}

#stoic-quote-reader button:hover {
    cursor: pointer;
}